:root {
	--color-slate-500: oklch(55.4% 0.046 257.417);
	--color-slate-600: oklch(44.6% 0.043 257.281);
	--color-slate-700: oklch(37.2% 0.044 257.287);
	--color-blue-700: oklch(48.8% 0.243 264.376);
}

.w-full--16 { width:calc(100% - 4rem) }
.min-w-half { min-width: 50% }
.max-h-8 { max-height: 2rem }
.max-h-lg { max-height: 32rem }
.bg-slate-500 { background-color: var(--color-slate-500) }
.bg-slate-600 { background-color: var(--color-slate-600) }
.bg-slate-700 { background-color: var(--color-slate-700) }
.bg-blue-700 { background-color: var(--color-blue-700) }

.transition-200 { transition-duration: 200ms; }

html, body {
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
}
button:disabled { cursor: auto }
button:focus:not(:focus-visible) { outline: none }

mark {
	position: relative;
	background-color: unset;
	color: white;
}
mark::before {
	content: "";
	position: absolute;
	top: -2px; left: -4px;
	background-color: var(--color-blue-700);
	z-index: -1;
	width: calc(100% + 8px);
	height: calc(100% + 4px);
	border-radius: 4px;
}

.material-symbols-outlined {
	width: 2rem;
	height: 2rem;
}

